*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
Manifest.toml
.Rhistory
deps/deps.jl
.vscode/
GenXJulEnv/


gurobi.log
cplex.log
Highs.log

/docs/build/

# Microsoft office temporary files
~$*

# Never include output folders
**/results*/
**/TDR_results/
**/.ipynb_checkpoints/